<!-- public navbar -->
<ul class="nav navbar-nav navbar-right">
	<li><a href="<%= about_path %>">關於我們</a></li>
	<li><a href="<%= services_path %>">服務</a></li>
	<li><a href="<%= contact_path %>">聯絡我們</a></li>
</ul>