<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="home">
		        Lunch
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<ul class="nav navbar-nav navbar-right">
		     		<li><a href="about">關於我們</a></li>
		        	<li><a href="services">服務</a></li>
		        	<li><a href="contact">聯絡我們</a></li>
		    	</ul>
		  	</div><!-- /.navbar-collapse -->
		</div>
	</nav>

<%= yield %>

</body>
</html>
